/* Impostazioni generali */
body {
  font-family: 'Lato', sans-serif;
}

/* UTILITIES */
.white-color {
  background: #ffffff;
}

.w-50 {
  width: 50%;
}



/* BOTTONI */
.btn {
  border: 1px solid #006aff;
  padding: 3px 5px;
  background: white;
}

.btn-primary {
  background: #006aff;
}

/* HEADER */
.main-header {
  position: relative;
}

.main-header img {
  position: absolute;
  max-width: 150px;
  bottom: 13px;
}

.main-header .nav.move li:first-child {
  padding-left: 30px;
}

.navbar-nav .btn {
  padding: 8px 8px;
  margin-top: 5px;
}

.nav li a {
  color: #031b4e;
}

.nav li a i {
  position: absolute;
  top: 20px;
  margin-left: 1px;
  transform: scale(0.9);
}

/* JUMBOTRON */
.jumbotron {
  position: relative;
  margin-top: -20px;
  height: 550px;
  background-image: url("../img/bg-banner-home.jpg");
  background-size: cover;
}

.box-jumbotron {
  padding: 15px 15px;
  border-radius: 5px;
}

.jumbotron .text-jumbotron h1,
.jumbotron .text-jumbotron p {
  color: white;
}


/* LOGHI */
.loghi {
  background: #f3f5f9;
  margin-top: -30px;
}

.loghi h4 {
  text-transform: uppercase;
  color: #5b6987
}

.loghi img {
  transform: translatey(-50%);
  margin-top: 80px;
  margin-bottom: -20px;
}

.loghi .text-loghi {
  padding-bottom: 25px;
}

/* DEPLOY */
.deploy {
  position: relative;
}

.deploy .text-deploy {
  margin: 50px 0;
}

.deploy .text-deploy h1,
.deploy .cluster h3 {
  color: #031b4e;
}

.deploy h3,
.deploy .list {
  color: #5b6987;
}

.deploy .list-group-item {
  border: none;
  border-left: 1px solid #5b6987;
  border-radius: 0;
}

.deploy .list {
  font-size: 16px;
}

.deploy .list {
  transform: translateY(40%);
  text-align: left;
}

.deploy .cluster {
  transform: translateY(-60%);
  }

  /* DEVELOPERS */
.developers {
  background: #f3f5f9;
}

.developers .text-developers {
  margin: 50px 0;
}

.developers .text-developers h1,
.developers .text-developers h3 {
  line-height: 50px;
  color: #031b4e;
  }

.developers .text-developers p {
  color: #5b6987;
}

.developers .text-developers img {
  max-width: 650px;
  margin: 50px 0 20px 0;
  transform: translateX(40%);
}

.developers-item {
  position: relative;
}

.developers-layover {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.developers-item .fa-chevron-left {
  position: absolute;
  left: 18%;
  transform: translateY(200px);
  color: #5b6987;
}

.developers-item .fa-chevron-right {
  position: absolute;
  right: 18%;
  transform: translateY(200px);
  color: #031b4e;
}

.developers-layover i {
  font-size: 50px;
}

.developers-item .fa-ellipsis-h {
  font-size: 25px;
}
