/* Impostazioni generali */
body {
  font-family: 'Lato', sans-serif;
}

/* UTILITIES */
.white-color {
  color: #ffffff;
}

.w-50 {
  width: 50%;
}



/* BOTTONI */
.btn {
  border: 1px solid #006aff;
  padding: 3px 5px;
  background: white;
}

.btn-primary {
  background: #006aff;
}

/* HEADER */
.main-header {
  position: relative;
}

.main-header img {
  position: absolute;
  max-width: 150px;
  bottom: 13px;
}

.main-header .nav.move li:first-child {
  padding-left: 30px;
}

.navbar-nav .btn {
  padding: 8px 8px;
  margin-top: 5px;
}

.nav li a {
  color: #031b4e;
}

.nav li a i {
  position: absolute;
  top: 20px;
  margin-left: 1px;
  transform: scale(0.9);
}

/* JUMBOTRON */
.jumbotron {
  position: relative;
  margin-top: -20px;
  height: 550px;
  background-image: url("../img/bg-banner-home.jpg");
  background-size: cover;
}

.box-jumbotron {
  padding: 15px 15px;
  border-radius: 5px;
}

.jumbotron .text-jumbotron h1,
.jumbotron .text-jumbotron p {
  color: white;
}


/* LOGHI */
.loghi {
  background: #f3f5f9;
  margin-top: -30px;
}

.loghi h4 {
  text-transform: uppercase;
  color: #5b6987
}

.loghi img {
  transform: translatey(-50%);
  margin-top: 80px;
  margin-bottom: -20px;
}

.loghi .text-loghi {
  padding-bottom: 25px;
}

/* DEPLOY */
.deploy {
  position: relative;
}

.deploy .text-deploy {
  margin: 50px 0;
}

.deploy .text-deploy h1,
.deploy .cluster h3 {
  color: #031b4e;
}

.deploy h3,
.deploy .list {
  color: #5b6987;
}

.deploy .list-group-item {
  border: none;
  border-left: 1px solid #5b6987;
  border-radius: 0;
}

.deploy .list {
  font-size: 16px;
}

.deploy .list {
  transform: translateY(40%);
  text-align: left;
}

.deploy .cluster {
  transform: translateY(-60%);
  }

  /* DEVELOPERS */
.developers {
  background: #f3f5f9;
}

.developers .text-developers {
  margin: 50px 0;
}

.developers .text-developers h1,
.developers .text-developers h3 {
  line-height: 50px;
  color: #031b4e;
  }

.developers .text-developers p {
  color: #5b6987;
}

.developers .text-developers img {
  max-width: 650px;
  margin: 50px 0 20px 0;
  transform: translateX(40%);
}

.developers-item {
  position: relative;
}

.developers-layover {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.developers-item .fa-chevron-left {
  position: absolute;
  left: 17%;
  transform: translateY(200px);
  color: #5b6987;
}

.developers-item .fa-chevron-right {
  position: absolute;
  right: 14%;
  transform: translateY(200px);
  color: #031b4e;
}

.developers-layover i {
  font-size: 50px;
}

.developers-item .fa-ellipsis-h {
  font-size: 25px;
}

/* FEATURES */
.features {
  margin-top: 50px;
  margin-bottom: -100px;
}

.features .text-features {
  margin-bottom: 70px;
}

.features .text-features h3,
.features .text-features h1 {
  color: #031b4e;
}








/* SERVICE */
.service {
  margin-top: 200px;
  padding: 50px 0;
  background-image: linear-gradient(to top, #00249d 0%, #4068e5 100%);
}
.service h1 {
  margin-bottom: 50px;
}
.service .blocco ul li {
  list-style: none;
  text-align: left;
  margin-left: -40px;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid white;
}

.service .blocco li {
  list-style: none;
  font-size: 16px;
  border-bottom: 1px solid white;
}
.service .blocco ul a {
  float: right;
  padding-right: 15px;
}
.service .blocco ul span {
  float: left;
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 5px;
}
.service .blocco ul p {
  text-align: left;
  padding-top: 5px;
}

/* DEVELOPMENT */
.development {
  position: relative;
  background: #f3f5f9;
  margin: 50px 0;
}

.development .development-item {
  transform: translateX(40%);
  width: 650px;
  background: white;
}

.development .text-development h1 {
  padding-bottom: 40px;
  color: #031b4e;
}

.development .text-development h4 {
  padding: 20px 40px;
  color: #5b6987;
}

.development .text-development img {
  padding: 25px 0;
  transform: translateX(55%);
}

.development-item {
position: relative;
}

.development-layover {
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
}

.development-item .fa-chevron-left {
position: absolute;
left: -9%;
transform: translateY(100px);
color: #5b6987;
}

.development-item .fa-chevron-right {
position: absolute;
right: -9%;
transform: translateY(100px);
color: #031b4e;
}

.development-layover i {
font-size: 50px;
}

.development .fa-ellipsis-h {
font-size: 25px;
margin: 20px 0  35px 0;
}
